#menu {
  display: flex;
  align-items: center;

  .container {
    flex: 1;
    display: flex;
  }

  .logo-container {
    @extend .container;
    justify-content: flex-start;
    padding-left: 0.6rem;
  }

  .sheet-control-container {
    @extend .container;
    justify-content: center;
  }

  .left-menu-container {
    @extend .container;
    justify-content: flex-end;
    padding-right: 0.6rem;
  }
}
