.menu-wrapper {
  position: fixed;
  z-index: 9999;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

:host ::ng-deep {
  .toolbar-menuizer {
    padding: 0.5rem 0.5rem;
    //gap: 0.5rem; //FIXME probably should be overriden as below menubar class does not use it
  }
}

////////////////////////////////////

//.p-toolbar {
//  padding: 1.125rem;
//  gap: 0.5rem;
//}
//
//
//.p-menubar {
//  padding: 0.5rem 0.5rem;
//  color: #ffffff;
//}
////////////////////////////////////

//#menu {
//  display: flex;
//  align-items: center;
//
//  .container {
//    flex: 1;
//    display: flex;
//  }
//
//  .logo-container {
//    @extend .container;
//    justify-content: flex-start;
//    padding-left: 0.6rem;
//  }
//
//  .sheet-control-container {
//    @extend .container;
//    justify-content: center;
//  }
//
//  .left-menu-container {
//    @extend .container;
//    justify-content: flex-end;
//    padding-right: 0.6rem;
//  }
//}
