<div class="menu-wrapper">
  <p-toolbar styleClass="bg-gray-900 shadow-2"
             [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
    <ng-template pTemplate="start">
      <img ngSrc="assets/logo/black-logo.png" height="41" width="187" alt="RocketCVLogo">
    </ng-template>
    <ng-template pTemplate="center">
      <app-sheet-controls></app-sheet-controls>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <span class="font-bold text-bluegray-50">left-menu</span>
      </div>
    </ng-template>
  </p-toolbar>
</div>
