<div class="menu-wrapper">
  <p-toolbar>
    <ng-template pTemplate="start">
      LOGO
      <!-- TODO po zakończeniu trzeba zmienić kolorki loga, a najlepiej przerzucic się na SVG-->
      <!--            <img ngSrc="assets/logo/black-logo.png" height="41" width="187" alt="RocketCVLogo">-->
    </ng-template>
    <ng-template pTemplate="center">
      <app-sheet-controls></app-sheet-controls>
    </ng-template>
    <ng-template pTemplate="end">
      left-menu
    </ng-template>
  </p-toolbar>
</div>
