<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span>
      <i class="bi bi-toggles"></i>
    </span>
    Sections
  </button>
  <div class="dropdown-menu">
    <div class="columns">
      <div id="column1">
        <label class="form-label mb-2px">Personal details</label>
        <div *ngFor="let item of sheetStateService.column1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="{{ item.label }}"
                   [checked]="item.state" (change)="toggleSectionItem(item)">
            <label class="form-check-label" for="{{ item.label }}">{{ item.label }}</label>
          </div>
        </div>
      </div>

      <div id="column2">
        <div *ngFor="let item of sheetStateService.column2">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="{{ item.label }}"
                   [checked]="item.state" (change)="toggleSectionItem(item)">
            <label class="form-check-label" for="{{ item.label }}">{{ item.label }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown-divider"></div>
    <label class="form-label">Add custom section</label>
    <div class="custom-sections">
      <!--  tu wyświetla tylko dodawarkę, usuwarka będzie w tekście, typ już gotowy-->
    </div>


  </div>
</div>
