<div id="pf-dropdown" class="border-round hover:surface-100 relative">
  <div  id="pf-dropdown-button" class="flex align-items-center px-3 py-2 text-900 cursor-pointer">
      <span id="pf-dropdown-button-icon">
        <i class="bi bi-toggles mr-2"></i>
      </span>
    <span>Sections</span>
    <app-svg-icon id="pf-dropdown-button-caret-down" class="p-icon p-submenu-icon ml-2" [path]="'assets/icons/caret-down.svg'"></app-svg-icon>
  </div>

  <div id="pf-dropdown-content" class="absolute shadow-2 min-w-max py-2 border-1 border-round border-100">
    <div class="px-2">
      <div class="columns">

        <div id="column1">
          <label class="flex align-items-center p-1 pr-3">Personal details</label>
          <div *ngFor="let item of sheetStateService.SectionItemsColumn1">
            <div class="flex align-items-center p-1 pr-3">
              <p-inputSwitch class="small-input-switch pr-2"
                inputId="{{ item.label }}" [ngModel]="item.state" (onChange)="logToggleSectionItem(item)"/>
              <label class="cursor-pointer" for="{{ item.label }}">{{ item.label }}</label>
            </div>
          </div>
        </div>

        <div id="column2">
          <div *ngFor="let item of sheetStateService.SectionItemsColumn2">
            <div class="flex align-items-center p-1">
              <p-inputSwitch class="small-input-switch pr-2"
                inputId="{{ item.label }}" [ngModel]="item.state" (onChange)="logToggleSectionItem(item)"/>
              <label class="cursor-pointer" for="{{ item.label }}">{{ item.label }}</label>
            </div>
          </div>
        </div>

      </div>

<!--        <app-custom-section-selector></app-custom-section-selector> TODO uncomment me-->
    </div>
  </div>

</div>
