<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span>
      <i class="bi bi-toggles"></i>
    </span>
    Sections
  </button>
  <div class="dropdown-menu">
    <div class="columns">
      <!--TODO style columns after custom se-->
      <div id="column1">
        <div *ngFor="let item of column1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="{{ item.label }}"
                   [checked]="item.state" (change)="toggleSectionItemState(item)">
            <label class="form-check-label" for="{{ item.label }}">{{ item.label }}</label>
          </div>
        </div>
      </div>

      <div id="column2">
        <div>
          <div *ngFor="let item of column2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="{{ item.label }}"
                     [checked]="item.state" (change)="toggleSectionItemState(item)">
              <label class="form-check-label" for="{{ item.label }}">{{ item.label }}</label>
            </div>
          </div>

        </div>
      </div>

      <div class="dropdown-divider"></div>
      <label>Add custom section</label>
      <i>TODO</i>

    </div>
  </div>
