.color-square {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--surface-300);
}

.pf-dropdown-option-selected {
  background-color: var(--surface-300) !important;
}

.color-picker-container {
  position: relative;
  display: inline-block; /* Ensures the container takes up only as much space as its content */
}

.bi-eyedropper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the icon */
  z-index: 1; /* Ensure the icon is above the color picker */
  pointer-events: none; /* Allows pointer events to go through the icon to the color picker */
  color: var(--surface-800) !important;
}
