//i {
//  padding-right: 7px; // FIXME - it could be better with flex
//}


//@import 'bootstrap/scss/bootstrap';
//.dropdown-menu {
//  --bs-dropdown-min-width: none; // override BS to width of only color pickers
//}

.color-square {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--surface-300);
}

.pf-dropdown-option-selected {
  background-color: var(--surface-300) !important;
}

//.color-picker-container .color-circle i {
//  color: white;
//}

.bi-eyedropper { // https://icons.getbootstrap.com/icons/eyedropper/ how to center, maybe smaller box ?
  padding-left: 0.25em;
 }

//.hidden {
//  position: absolute;
//  opacity: 0;
//}
