<div id="pf-dropdown" class="border-round hover:surface-100 relative">
  <div  id="pf-dropdown-button" class="flex align-items-center px-3 py-2 text-900 cursor-pointer"
        pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
      <span id="pf-dropdown-button-icon">
        <i class="bi bi-palette mr-2"></i>
      </span>
    <span>Color</span>
    <app-svg-icon id="pf-dropdown-button-caret-down" class="p-icon p-submenu-icon ml-2" [path]="'assets/icons/caret-down.svg'"></app-svg-icon>
  </div>
  <div id="pf-dropdown-content" class="hidden absolute shadow-2 min-w-full py-2 border-1 border-round border-100">
    <ul class="list-none p-0 m-0">
      <li id="pf-dropdown-option">
        <div *ngFor="let color of colors">
          <a class="block py-2 px-3 flex justify-content-center no-underline text-900 hover:surface-100 transition-all transition-duration-100 cursor-pointer"
             [ngClass]="{ 'pf-dropdown-option-selected': color === selectedColor }"

             (click)="setColor(color)">
            <!-- TODO trochę stylowania, żeby przypominało pickera, styl pokazujący co jest obecnie ustawione -->
            <div class="color-square" [style.background-color]="color"></div>
          </a>
        </div>
      </li>
<!--      TODO ostylować picker, nie da się kliknąć w pasek, trzeba w kwadracik  -->
      <li id="pf-dropdown-option-picker">
        <a class="block py-2 px-3 flex justify-content-center no-underline text-900 hover:surface-100 transition-all transition-duration-100 cursor-pointer"
           [ngClass]="{ 'pf-dropdown-option-selected': isSelectedFromPicker() }"
        >
          <div class="color-picker-container">
            <i class="bi bi-eyedropper"></i>
            <p-colorPicker [ngModel]="defaultPickerColor" (onChange)="setColorFromPicker($event)"
                           showTransitionOptions=".01s linear" hideTransitionOptions=".01s linear">
            </p-colorPicker>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
