<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>
            <i class="bi bi-palette"></i>
          </span>
    Color
  </button>
  <ul class="dropdown-menu">
    <li>
      <div *ngFor="let color of colors">
        <a class="dropdown-item" (click)="setColor(color)">
          <div class="color-circle" [style.background-color]="color"></div>
        </a>
      </div>

      <div class="dropdown-item color-picker-container">
        <label for="colorPicker" class="color-circle" [style.background-color]="ShadeOfGray">
          <i class="bi bi-eyedropper"></i>
          <input id="colorPicker" type="color" (change)="setColorFromPicker($event)" class="hidden">
        </label>
      </div>
    </li>
  </ul>

</div>
