.selects-container {
  display: flex;
  align-items: start;
}

.select-wrapper {
  flex: 45;
  margin-right: 2px;

  padding-left: 0;
  padding-right: 0;
}

.button-wrapper {
  flex: 10;
  padding-left: 0;
  padding-right: 0;
}
