<p-divider/>

<label class="flex align-items-center pb-3">Add custom section</label>

<div class="custom-sections">
  <form [formGroup]="customSectionForm" (ngSubmit)="addCustomSection()">
    <div class="row selects-container">
      <div class="select-wrapper mr-1">
        <p-dropdown formControlName="type"
          [options]="sectionType"
          [style]="{'width':'10rem'}"
          placeholder="Select Type" />
      </div>
      <div class="select-wrapper">
        <p-dropdown formControlName="placement"
          [options]="placement"
          [style]="{'width':'11rem'}"
          placeholder="Select Placement" />
          <!-- TODO placement is based on layout and need to be updated, after that width of dropdown in style-->
      </div>
      <div class="button-wrapper ml-2">
        <p-button type="submit" icon="bi bi-plus-circle"/>
      </div>
    </div>
    <div *ngIf="showError" class="text-red-400 pl-1">
      Please select 'Type' and 'Placement'<br> for your custom resume section.
    </div>
  </form>
</div>
