<label class="form-label">Add custom section</label>
<div class="custom-sections">
  <form [formGroup]="customSectionForm" (ngSubmit)="addCustomSection()">
    <div class="row selects-container">
      <div class="select-wrapper">
        <select class="form-select form-select-sm" formControlName="type">
          <option value="" disabled selected>Select Type</option>
          <option [value]="sectionType.TextSection">{{ sectionType.TextSection }}</option>
          <option [value]="sectionType.ListSection">{{ sectionType.ListSection }}</option>
        </select>
      </div>
      <div class="select-wrapper">
        <select class="form-select form-select-sm" formControlName="placement">
          <option value="" disabled selected>Select Placement</option>
          <!--       TODO needs to be translated based on layout-->
          <option [value]="placement.Primary">{{ placement.Primary }}</option>
          <option [value]="placement.Secondary">{{ placement.Secondary }}</option>
        </select>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="btn btn-secondary btn-sm">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>
    </div>
    <!--    FIXME plus zawsze zamyka, a jak jest error to nie powinien-->
    <div *ngIf="showError" class="alert alert-danger mt-3">
      Please select 'Type' and 'Placement' for your custom resume section.
    </div>
  </form>
</div>
