.pf-dropdown-option-selected {
  background-color: var(--surface-300) !important;
}

.pf-dropdown-option-icon-active {
  color: var(--surface-800) !important;
}

#pf-dropdown-option {
  &:hover {
    span {
      color: var(--surface-800) !important;
    }
  }
}
