#pf-dropdown, #pf-dropdown-content {
  background-color: var(--surface-0);
}

#pf-dropdown #pf-dropdown-button-icon,
#pf-dropdown #pf-dropdown-button-caret-down {
  color: var(--surface-300);
}

#pf-dropdown:hover #pf-dropdown-button-icon,
#pf-dropdown:hover #pf-dropdown-button-caret-down {
  color: var(--surface-800);
}

#pf-dropdown-content {
  display: none;
}

#pf-dropdown-button:hover + #pf-dropdown-content,
#pf-dropdown-content:hover {
  display: block;
}
