.paper-sheet {
  margin: calc(56px + 0.5rem + 2.3rem) auto 60px; // TODO calc toolbar height when stops changing/ (height px + I_dont_know px + what is below px)
  width: 85rem;
  height: calc(83rem * 1.41429);
  background-color: white;
  padding: 6rem;
}
// FIXME szeorokość, dostosowanie rem do rożnych screenów
//@media screen and (min-width: 2000px) {
//  html, body {
//    font-size: 62.5%;
//  }
//}
// https://clivio.pl/roznica-miedzy-jednostkami-em-i-rem-w-css/
