<div id="sheet-controls">
      <div class="flex flex-wrap align-items-center gap-3">
        <button
          class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10
          transition-all transition-duration-200">
          <i class="pi pi-home text-2xl">lol1</i>
        </button>
        <button
          class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
          <i class="pi pi-user text-2xl">lol2</i></button>
        <button
          class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
          <i class="pi pi-search text-2xl">lol3</i></button>
      </div>


<!--  <app-layout-control></app-layout-control>-->
<!--  <app-color-control></app-color-control>-->
<!--  <app-typography-control></app-typography-control>-->
<!--  <app-sections-control></app-sections-control>-->
</div>
