<div id="sheet-controls">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span>
            <i class="bi bi-layout-text-window-reverse"></i>
          </span>
      Layout
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let layout of layouts">
        <a class="dropdown-item" (click)="setLayout(layout)">
          <span>
            <i class="bi bi-{{ LayoutIcons[layout] }}"></i>
          </span>
          {{ layout }}
        </a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Color
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Typography
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <app-sections></app-sections>
  </div>
</div>
