<div id="sheet-controls">

  <p-button severity="secondary" [text]="true">
      <span>
        <i class="bi bi-layout-text-window-reverse mr-2"></i>
      </span>
    Test1
    <app-svg-icon class="p-icon p-submenu-icon ml-2" [path]="'assets/icons/caret-down.svg'"></app-svg-icon>
  </p-button>

  <app-pf-dropdown></app-pf-dropdown>

  <!--  TUTAJ ZACZYNA SIĘ STARA SEKCJA-->

  <!--    <app-layout-control></app-layout-control>-->
  <!--  <app-color-control></app-color-control>-->
  <!--  <app-typography-control></app-typography-control>-->
  <!--  <app-sections-control></app-sections-control>-->
</div>
