.photo-container {
  position: relative;
  width: fit-content;
}

.image-container { // fixme - it needs better scaling support, same with cropper
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;

  &.photo-placeholder {
    background-image: url('/assets/img/photo-placeholder.png');
  }
}

.icon-wrapper {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}

.icon-wrapper {
  position: absolute;
  height: 200px;
  width: 200px;
  padding: .35rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all .25s;
    background: rgba(0, 0, 0, 0.3);
  }

  &:hover:before {
    content: "Upload Photo";
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}

