<div class="photo-container">
  <div class="image-container" *ngIf="file; else placeholder"
       [ngClass]="{'box-shadow-photo': !!file}"
       [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
  </div>

  <ng-template #placeholder>
    <div class="image-container photo-placeholder">
    </div>
  </ng-template>

  <label for="photo-input-file">
    <div class="icon-wrapper">
      <input type="file" id="photo-input-file" accept="image/jpg, image/jpeg, image/png" (change)="onFileChange($event)" />
<!--      <mat-icon class="icon" fontIcon="edit"></mat-icon>-->
    </div>
  </label>

<!-- TODO dostosowanie dialogu do tego ze stronki: https://primeng.org/dialog - nagłówek itp -->
<!-- TODO ładowanie na kliknięcie w cały obraz, a nie tylko w kóło -->
<!-- TODO zmiana cssów, żeby bardziej przypominały to co trzeba -->

</div>
