<div class="photo-container">
  <div class="image-container" *ngIf="file; else placeholder"
       [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
  </div>

  <ng-template #placeholder>
    <div class="image-container photo-placeholder">
    </div>
  </ng-template>

  <label for="photo-input-file">
    <div class="icon-wrapper">
      <input type="file" id="photo-input-file" accept="image/jpg, image/jpeg, image/png" (change)="onFileChange($event)" />
    </div>
  </label>

<!-- LATER dodać walidację jak na siłę wrzucimy nieprawidłowy typ pliku -->
<!-- LATER można pokombinować jak to będzie wyglądało z ikonką -->
<!-- TODO zmiana cssów, żeby bardziej przypominały to co trzeba - skalowanie - konsultacja z frontendowcami -->

</div>
