::ng-deep {
  .p-timeline-event-opposite {
    display: none;
  }

  .p-timeline-event-content {
    padding: 0 0.5rem;
  }

  .p-timeline-event-connector {
    background-color: #e2e8f0; // color from light theme
  }
}

.size-of-h4 {
  width: 1.1em !important;
  height: 1.1em !important;
}
