::ng-deep {
  .p-timeline-event-opposite {
    display: none;
  }

  .p-timeline-event-content {
    padding: 0 0.5rem;
  }

  .p-timeline-event-connector {
    background-color: #e600a5; //TODO change dynamically // #e2e8f0 color from light theme
  } // może zadziała coś takiego: jak w pkt 3 : https://chatgpt.com/c/67798677-7f90-406c-b84c-85c47ffa464a
}

.size-of-h4 {
  width: 1.1em !important;
  height: 1.1em !important;
}
