<!--LATER - fajnie byłoby dodać bordery zamiast backgroundów - ale to powoduje rozjeżdzanie się kropki
    - nie można tego ustawic paddingami, ani takimi innymi bo linia nie dochodzi do kropek -  jak będzie czas mozna zmienić -->

<!--TODO handling - change order - first -->
<p-timeline [value]="sheetContentService.experienceEntries" align="left" styleClass="customized-timeline">
  <ng-template pTemplate="marker" let-event>
            <span
              class="flex size-of-h4 align-items-center justify-content-center border-circle z-1 shadow-1"
              [style]="{ 'background-color': color }">
            </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <app-timeline-entry [timelineEntry]="event"></app-timeline-entry>
  </ng-template>
</p-timeline>
