/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";




@import "bootstrap/dist/css/bootstrap.css"; // FIXME to delete
@import "bootstrap-icons/font/bootstrap-icons.css";


.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: var(--bs-secondary) !important;
}

.form-select:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.13);
}
